@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  background-color: #293c40;
  color: white;
  text-align: center;
}

#player-name-container,
#player-name,
#player-name-label,
#play-btn {
  display: flex;
  align-items: center;
  font-family: 'Darumadrop One', cursive;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Norse-Bold, sans-serif;
  padding: 8px;
  gap: 12px;
}

.logo {
  height: 78px;
  width: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: 'Darumadrop One', cursive;
  font-size: 3rem;
}

#player-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#player-name-label {
  font-size: 2rem;
}

#player-name {
  background-color: #b9c5cc;
  font-size: large;
  border: 2px solid black;
  border-radius: 4px;
}

#play-btn {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #ffbf40;
  color: black;
  max-height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
