@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  background-color: #293c40;
  color: white;
  text-align: center;
}

#player-name,
#player-name-label,
#play-btn {
  display: flex;
  align-items: center;
  font-family: 'Darumadrop One', cursive;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Norse-Bold, sans-serif;
  padding: 8px;
  gap: 12px;
}

.logo {
  height: 78px;
  width: auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: 'Darumadrop One', cursive;
  font-size: 3rem;
}

h3 {
  font-family: 'Darumadrop One', cursive;
  font-size: 2rem;
}

#player-name-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 8px;
}

#player-name-label {
  font-size: 2rem;
}

#player-name {
  text-align: center;
  background-color: #b9c5cc;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 4px;
}

#play-btn {
  border: 2px solid black;
  border-radius: 4px;
  background-color: #ffbf40;
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#players-display {
  display: flex;
  justify-content: space-evenly;
}

#board-container {
  display: grid;
  justify-content: center;
  margin: 8px;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
}

.cell {
  background-color: #fff9b3;
  height: 128px;
  width: 128px;
  border: 2px solid #cc1424;
}
